@{
    Layout = "~/Views/Shared/AdminLTE/_Layout2.cshtml";
    ViewData["Role"] = @ViewBag.sessionRole;
    ViewData["Email"] = @ViewBag.sessionEmail;
    ViewData["NIP"] = @ViewBag.sessionNIP;
}
<div class="container container-fluid">
    <input id="role" style="display:none" value="@ViewData["Role"]">
    <input id="emailS" style="display:none" value="@ViewData["Email"]">
    <input id="managerId" style="display:none" value="@ViewData["NIP"]" />
    <h1>Approval @ViewData["Role"]</h1>
    @*<input id="role" value=" @ViewData["Role"]" />*@
    <table id="tableOvertimeapply" class="table table-responsive table-hover table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>NIP</th>
                <th>Employee Name</th>
                <th>Submission Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="bodyManager">
        </tbody>
    </table>
</div>

<div class="modal fade" id="detailapprove" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail</h5>
                <button class="btn btn-primary" data-dismiss="modal">
                    <i style="color:white" aria-hidden="true" class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="detailapprove">
                <form id="formPersonUpd" action="">
                    <div class="row">
                        <div class="col-6 my-1">
                            <label for="overtimeTitle" class="col-form-label">Overtime Title</label>
                            <input type="text" class="form-control" id="overtimeTitle" aria-describedby="overtimeTitleHelp" disabled>
                            <div id="overtimeTitleHelp" class="form-text"></div>
                        </div>
                        <div class="col-6 my-1">
                            <label for="submissionDate" class="col-form-label">Submission Date</label>
                            <input type="datetime" class="form-control" id="submissionDate" aria-describedby="submissionDateHelp" disabled>
                            <div id="submissionDateHelp" class="form-text"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 my-1">
                            <label for="requestDetail" class="col-form-label">Overtime Details</label>
                            <input type="text" class="form-control" id="requestDetail" aria-describedby="requestDetailHelp" disabled>
                            <div id="requestDetailHelp" class="form-text"></div>
                        </div>
                        <div class="col-6 my-1">
                            <label for="durasi" class="col-form-label">Durasi</label>
                            <input type="text" class="form-control" id="durasi" aria-describedby="durasiHelp" disabled>
                            <div id="durasiHelp" class="form-text"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 my-1">
                            <label for="additionalsalary" class="col-form-label">Additional Salary</label>
                            <input type="text" class="form-control" id="additionalsalary" aria-describedby="additionalsalaryHelp" disabled>
                            <div id="additionalsalarylHelp" class="form-text"></div>
                        </div>
                    </div>
                    <div>
                        <input type="text" class="form-control" style="display:none" id="overtimeid">
                        <input type="text" class="form-control" style="display:none" id="email">
                        <input type="text" class="form-control" style="display:none" id="nip">
                    </div>
                    <div class="modal-footer">
                        <button id="UpdateBtn" type="button" data-dismiss="modal" class="btn btn-primary">Approve</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="rejectBtn">Reject</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="~/js/ApprovalRequest.js" asp-append-version="true"></script>
}